/* ---------- Screen Widths ---------- */

$asnbDesktop: 768px;
$asnbMaxWidth: 1440px;
$headerHeight: 3.25rem;

/* ---------- Colors ---------- */

$cimb: #cc0000;
$cimbDark: rgba(120, 0, 0, 1);
$whiteBackground: #ffffff;
$background: #f6f6f6;
$background20: #d5d6d7;

$grey: #7b7d7e;
$grey20: #575a5c;

$fixedFunds: #d45dba;
$variableFunds: #ff9999;

/* ---------- Fonts ---------- */

$notoSans: 'Noto Sans', sans-serif;
$baseColor: #333739;

$bold: 700;
$semibold: 600;
$normal: 400;
