@import 'apps/self-serve/src/assets/mixin';
@import 'apps/self-serve/src/assets/variables';

[class] {
    font-family: $notoSans !important;
}

::ng-deep {
    .source-of-wealth-and-funds-dialog {
        @media (max-width: $asnbDesktop) {
            width: 100vw;
            height: 100vh;
            max-width: 100vw !important; // override the default in-line max-width
        }
        .mat-dialog-container {
            @media (min-width: 600px) {
                padding: 30px 32px 48px;
            }
            @media (min-width: 48rem) {
                width: 600px;
            }
        }
    }

    .mint-dialog-container {
        display: flex;
        flex-direction: column;
        height: 100%;

        .dismissible {
            display: flex;
            justify-content: flex-end;
            .close-btn {
                justify-content: center;
                display: flex;
                align-items: center;
            }
        }

        .icon {
            display: flex;
            justify-content: center;
            margin-bottom: 1rem;
            img {
                width: 20%;

                @media (min-width: 600px) {
                    width: 12%;
                }
            }
        }

        .content {
            margin-bottom: 2.5rem;

            @media (min-width: 600px) {
                margin-bottom: 2.5rem;
            }

            .body {
                display: flex;
                flex-direction: column;
                .title {
                    text-align: left;
                    font-size: 1.25rem;
                    line-height: 1.75rem;
                    color: var(--n100);

                    @media (min-width: 600px) {
                        text-align: center;
                        font-size: 1.5rem;
                        line-height: 2.125rem;
                    }
                }
                .message {
                    font-size: 14px;
                    margin-bottom: 1rem;
                    line-height: 1.3125rem;
                    color: var(--n80);
                    font-weight: var(--regular);

                    @media (min-width: 600px) {
                        font-size: 1rem;
                        line-height: 24px;
                    }
                }
                .note {
                    font-weight: 600;
                    a {
                        color: var(--r100);
                        text-decoration: underline;
                        font-weight: 400;
                    }
                }
            }
        }

        .actions {
            display: flex;
            width: 100%;
            margin-top: auto;

            button {
                border-radius: 8px;
                height: 3rem;
                line-height: 3rem;
                padding: 0 0.9375rem;

                &.mat-primary {
                    font-weight: var(--bold);
                    font-size: 1rem;

                    @media (min-width: 600px) {
                        font-size: 1rem;
                    }
                }

                &.mint-cancel-button {
                    color: var(--n100);
                    font-size: 1rem;
                    font-weight: var(--bold);
                    border: 1px solid var(--n100);

                    @media (min-width: 600px) {
                        border: 0.0625rem solid var(--r120);
                        border-radius: 0.5rem;
                        color: var(--r120);
                        font-size: 1rem;
                        font-weight: var(--bold);
                    }
                }
            }
        }
    }

    .source-of-wealth {
        display: block;
        border-radius: 0.5rem;
        border: 1px solid #7b7d7e;
        padding: 0.75rem;

        .mat-form-field-underline {
            display: none;
        }

        .mat-form-field-infix {
            padding: 0;
        }
    }

    .sof-sow-heading {
        text-transform: uppercase;
        @include font(0.75rem);
        font-weight: 600;
        color: #575a5c;
        margin-bottom: 0.5rem;
        margin-left: 0.75rem;
        display: block;
    }

    .body > * + * {
        margin-top: 1.5rem;
    }

    .content {
        margin-top: 1.5rem;
    }

    .actions {
        flex-wrap: nowrap;
        justify-content: end;
        gap: 1rem;

        button {
            width: 9.0625rem;
            margin: 0;
        }

        @media (max-width: $asnbDesktop) {
            justify-content: center;

            button {
                width: 100%;
            }
        }
    }

    .btn-custom {
        background-color: var(--r120);
        color: var(--n0);

        &:hover {
            background: var(--r60);
        }

        @media (max-width: $asnbDesktop) {
            width: 100%;
        }

        &.btn-custom-disabled {
            background-color: var(--n20);
            color: var(--n0);
            cursor: not-allowed;
        }
    }
}

:host ::ng-deep .input {
    .autocomplete-label {
        margin-left: 0.75rem;
    }

    .mat-form-field-wrapper {
        padding-bottom: 0;
    }
}
