.asnb-delink-account {
    margin-top: 20px;

    .asnb-delink-account-cta {
        font-size: 0.75rem;
        color: #A7A9AC;
        text-decoration: underline;
        cursor: pointer;

        img {
            width: 1em;
            display: inline;
            margin-left: 10px;
            vertical-align: middle;
        }
    }
}
