<cimb-progress-sub-header
  [pageTitle]="pageTitle"
  [isBackButtonEnabled]="isBackButtonEnabled"
  [noProgressStep]="false"
  (backButtonEvent)="backButtonEvent()"
></cimb-progress-sub-header>
<div class="page-wrapper">
  <div class="container">
    <div class="section-head">
      <h4>Review and Complete Redemption</h4>
    </div>

    <div class="section-content">
      <div class="account-info">
        <p>
          Unit Trust Account <span class="hide-md">- </span>
          <strong>{{ unitTrustAccount }}</strong>
        </p>
      </div>



      <div class="card-wrapper">
        <div class="card">
          <h5>Select Settlement Account</h5>
          <div class="wrapper">
            <div class="autocomplete-block">
              <cimb-select-basic
              [accounts]="accounts"
              [selectPlaceholder]=""
              [inputLabel]=""
              [selectedValue]="accounts[0].id"
              [hasOptionValidation]="hasOptionValidation"
              [isPaymentAccount]="isPaymentAccount"
              [panelClass]="panelClass"
            ></cimb-select-basic>
              
          </div>
        </div>
        </div>
      </div>
      




      <!-- Investments -->
      <div class="mt-card">
        <cimb-card-investment-summary
          [cardTitle]="cardTitleForInvestment"
          [investments]="investments"
          [redemptionUnits]="redemptionUnits"
          [redemptionAmount]="redemptionAmount"
          [isNeededOnPage]="isNeededOnPage"
        ></cimb-card-investment-summary>
      </div>

      <!-- total -->
      <cimb-card-purchase-total
        [cardTitle]="cardTitleForTotal"
        [totalLabel]="totalLabel"
        [isForRedemption]="isForRedemption"
        [isNeededOnPage]="isNeededOnPage"
        [totalRedemptionUnits]="totalRedemptionUnits"
        [totalRedemptionAmount]="totalRedemptionAmount"
        [totalFund]="total"
      ></cimb-card-purchase-total>
      <p class="foot-legend">
        <span>*</span> These are indicative amounts only. The actual amount may
        differ based on the closing NAV price.
      </p>
      <!-- Confirmation -->
      <cimb-card-tac
        [factaEnabled]="factaEnabled"
      ></cimb-card-tac>
    </div>
  </div>
</div>
