<cimb-progress-sub-header
  [pageTitle]="pageTitle"
  [isBackButtonEnabled]="isBackButtonEnabled"
  (backButtonEvent)="backButtonEvent()"
></cimb-progress-sub-header>

<div class="page-wrapper">
  <div class="container">
    <div class="section-head">
      <h4>Purchase Summary</h4>
    </div>
    <div class="section-content">
      <div class="purchase-header">
        <p>
          <span
            >Unit Trust Account - <strong>{{ unitTrustAccount }}</strong></span
          >
          <span>1 item in total</span>
        </p>
      </div>
      <!-- cart list -->
      <cimb-card-cart
        [investments]="investments"
        [redemptionUnits]="redemptionUnits"
        [redemptionAmount]="redemptionAmount"
        [isNeededOnPage]="isNeededOnPage"
        [hasRedeemOption]="hasRedeemOption"
      ></cimb-card-cart>

      <p class="foot-legend">
        <span>*</span> These are indicative amounts only. The actual amount may
        differ based on the closing NAV price.
      </p>

      <!-- Cart total -->
      <cimb-card-cart-default-total
        [totalRedemptionUnits]="totalRedemptionUnits"
        [totalFund]="totalFund"
        [totalRedemptionAmount]="totalRedemptionAmount"
        [showIndicativeAmountLegendOnMobile]="showIndicativeAmountLegendOnMobile"
        [schedulerMsg]="scheduler_msg"
      ></cimb-card-cart-default-total>
    </div>
  </div>
</div>
