

<div class="page-wrapper">
  <div class="container">

    <div class="section-content">
    <div class="error-msg">

      <h2>System Downtime</h2>
      <div class="background">

      <div class="Ellipse-91">

        <img src="./assets/images/Illustration_Downtime.svg" class="IllustrationDowntime" alt="Downtime" />

      </div>



      <p>We are experiencing a system downtime at the moment. Our team are currently working hard to resolve the issue.</p>


        <span class="Do-check">
          We apologize for the inconvenience and thank you for your patience.<br>
          Please check back with us later.
        </span>


    </div>
  </div>
    </div>
</div>
</div>







