<div>
    <div class="close-section">
        <img
            class="custom-close-icon"
            src="assets/images/close-icon.svg"
            alt="close-icon"
            (click)="onClose()"
        />
    </div>
    <div class="dialog-content">
        <div
            *ngFor="let item of dialogData"
            class="options-item"
            (click)="onClose(item)"
            [ngClass]="{ isSelected: selectedItem?.id === item.id }"
        >
            <div class="common-dropdown-options">
                <p class="selected-name">
                    {{ item.value }}
                </p>
            </div>
        </div>
    </div>
</div>
