.section-content {
  @media (min-width: 75rem) {
    max-width: 63rem;
    margin: 0 auto;
  }
  .foot-legend {
    font-size: 0.625rem;
    line-height: 1rem;
    margin-top: -0.75rem;
    margin-bottom: 1.5rem;

    @media (min-width: 48rem) {
      font-size: 0.875rem;
      line-height: 0.875rem;
    }

    span {
      color: var(--r160);
    }
  }
}
