<div class="asnb-prospectus-sales-charge-container">
    <img class="logo" src="assets/images/no-investment.png" alt="no-investment" />
    <div></div>
    <p class="heading">Latest Fund Price</p>
    <p class="description">Prices for some funds changes daily.</p>
    <span class="redirect-link" (click)="redirectConfirmation(fundPriceLink)">
        <span>View the latest fund price here.</span>
    </span>
    <div class="divider"></div>
    <p class="heading">Prospectus & Sales Charge</p>
    <p class="description">
        Before investing, please read and understand the prospectus, product highlight sheet and
        fund fact sheet regarding each individual fund.
    </p>
    <span class="redirect-link" (click)="redirectConfirmation(prospectusLink)">
        <span>Get the latest prospectus, product highlight sheet, fund fact sheet and sales charge here.</span>
    </span>
</div>
