<div class="page-wrapper">
    <div class="container">
        <div class="inner-container">
            <div class="section-content">
                <div class="error-msg">
                    <h2>Page Not Found</h2>
                    <div class="background">
                        <div class="Ellipse-91">
                            <img
                                src="./assets/images/Illustration_Error.svg"
                                class="IllustrationMaintenance"
                                alt="Page Not Found"
                            />
                        </div>

                        <!-- <img src="./assets/images/Illustration_Background.svg"
      class="IllustrationBackground"/> -->

                        <p>We can’t seem to find the page you are looking for.</p>

                        <button class="MasterNormalDefault" (click)="returnPreviousPage()">
                            Return to previous page
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
