

<div class="page-wrapper">
  <div class="container">
    <img class="bg" src="./assets/images/maintenance-bg.svg" alt="">
    <div class="section-content">
        <div class="error-msg">

            <h2> Scheduled Maintenance</h2>
            <img src="./assets/images/maintenance.svg" class="IllustrationDowntime" alt="Maintenance" />
            <p>Sorry, we’re currently undergoing scheduled maintenance to provide you with a better experience.</p>

            <span class="maintenance-Period"> Maintenance Period<br>
            From {{startTime}},&nbsp;{{startDate | date:'dd MMMM yyyy'}}&nbsp; to&nbsp;
            {{endTime}},&nbsp;{{endDate | date:'dd MMMM yyyy'}}</span>
            <span class="Do-check">
                We’ll be back online after the scheduled maintenance above. See you soon!
            </span>
        </div>
    </div>
</div>
</div>







