.dashboard-amount {
  margin-top: -7.625rem;
  //margin-bottom: 1.5rem;
  //   0rem 0.25rem 0.25rem -0.125rem rgba(24, 39, 75, 0.08);
  @media (min-width: 48rem) {
    margin-bottom: 6rem;
    margin-top: -4rem;
  }

  @media (min-width: 60rem) {
    margin-top: 0;
    background: none;
    padding: 0;
    justify-content: space-between;
    margin-left: -1rem;
    margin-right: -1rem;
    box-shadow: none;
  }
}
.dashboard-content {
  display: block;
  
  @media (min-width: 60rem) {
    display: flex;
  }
  .dashboard-tab {
    @media (min-width: 60rem) {
      flex: 1 1 66.6666%;
      max-width: 66.6666%;
    }
  }
}