$mat-primary-palette: (
    50: #ffe0e0,
    100: #ffb3b3,
    200: #ff8080,
    300: #ff4d4d,
    400: #ff2626,
    500: #ff0000,
    600: #ff0000,
    700: #ff0000,
    800: #ff0000,
    900: #ff0000,
    A100: #ffffff,
    A200: #fff2f2,
    A400: #ffbfbf,
    A700: #ffa6a6,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    ),
);

$mat-accent-palette: (
    50: #e7e7e7,
    100: #c2c3c4,
    200: #999b9c,
    300: #707374,
    400: #525557,
    500: #333739,
    600: #2e3133,
    700: #272a2c,
    800: #202324,
    900: #141617,
    A100: #68aff6,
    A200: #3896f3,
    A400: #007cf8,
    A700: #006fdf,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #ffffff,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #ffffff,
        A700: #ffffff,
    ),
);

$mat-warn-palette: (
    50: #fdf7e9,
    100: #fbebc8,
    200: #f8dea3,
    300: #f5d17e,
    400: #f3c762,
    500: #f1bd46,
    600: #efb73f,
    700: #edae37,
    800: #eba62f,
    900: #e79820,
    A100: #ffffff,
    A200: #fff6eb,
    A400: #ffe1b8,
    A700: #ffd69e,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #000000,
        600: #000000,
        700: #000000,
        800: #000000,
        900: #000000,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    ),
);
