::ng-deep {
  #Footer {
    margin-top: 0;
  }
}
.section-head {
  h4 {
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--n100);

    @media (min-width: 48rem) {
      font-size: 1.25rem;
      line-height: 1.75rem;
      margin-bottom: 2rem;
    }
  }
}
.page-wrapper {
  background-color: #f6f6f6;
  padding-top:0;
  
  .container {
    position:relative;

    @media (min-width: 48rem) {
      min-height: calc(100vh - 8.5rem);
    }
    .bg {
      position: absolute;
      bottom:0;
      left:0;
      right:0;
      width: 100%;
    }
  }
}

.section-content {
  @media (min-width: 75rem) {
    max-width: 63rem;
    margin: 0 auto;
    z-index:2;
    position: relative;
  }
  .purchase-header {
    p {
      color: var(--n60);
      font-size: 0.75rem;
      line-height: 1.125rem;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      span {
        &:first-child {
          @media (min-width: 62rem) {
            visibility: visible !important;
          }
        }
      }

      @media (min-width: 48rem) {
        font-size: 0.875rem;
        line-height: 1.3125rem;
      }

      strong {
        font-weight: var(--regular);

        @media (min-width: 48rem) {
          display: block;
          font-size: 1rem;
          line-height: 1.5rem;
          font-weight: var(--bold);
        }
      }
    }
  }
  .error-msg {
    text-align: center;
    padding-top: 2rem;

    @media (min-width: 48rem) {
      padding-top: 5.375rem;
    }
    img {
      display: inline-block;
      padding: 0 4.8125rem;
      max-width: 18.75rem;
      margin-bottom: 2rem;

      @media (min-width: 48rem) {
        max-height: 9.625;
        max-width: 17.063rem;
        margin-bottom: 3rem;
        padding:0;
      }
    }
    h2 {
      font-size: 1.75rem;
      line-height: 1.75rem;
      margin-bottom: 2rem;

      @media (min-width: 48rem) {
        font-size: 2.625rem;
        line-height: 3.4125rem;
        margin-bottom: 3rem;
      }
    }
    p {
      font-size: 0.875rem;
      line-height: 1.3125rem;
      margin-bottom: 2rem;
      color: var(--n60);

      @media (min-width: 48rem) {
        font-size: 1.25rem;
        line-height: 1.875rem;
      }
    }
    .maintenance-Period {
      font-size: 0.75rem;
      line-height: 1.3125rem;
      margin-bottom: 1rem;
      color: #ff5630;
      font-weight: bold;
      // max-width:21.438rem;
      // margin-left:3rem;
      // margin-right:3rem;

      @media (min-width: 48rem) {
        font-size: 1rem;
        line-height: 1.5rem;
        margin-bottom: 1rem;

        // max-width:43.125rem;
        // margin-left:0rem;
        // margin-right:0rem;
      }
    }
    .Do-check {
      font-size: 0.875rem;
      line-height: 1.3125rem;

      margin: 0 auto;
      margin-bottom: 3.688rem;
      max-width: 21.438rem;

      color: var(--n60);
      font-weight: bold;
      // max-width:21.438rem;
      // margin-left:3rem;
      // margin-right:3rem;

      @media (min-width: 48rem) {
        font-size: 1rem;
        line-height: 1.5rem;
        margin-bottom: 7.438rem;
        max-width: 36.25rem;

        // max-width:43.125rem;
        // margin-left:0rem;
        // margin-right:0rem;
      }
    }
  }

  .text-orange {
    color: #ff5630 !important;
    font-weight: 700 !important;
    font-size: 1.25rem !important;
    line-height: 1.875rem !important;
  }
}
